<div class="header">
  <img id="logo" src="assets/images/logo.png">
  <a routerLink="/home" class="home-buttons">Home</a>
  <a routerLink="/products" class="home-buttons">Catalog</a>
  <a routerLink="/about" class="home-buttons">About</a>
  <a class="home-buttons">Wishlist</a>
  <a class="home-buttons">Login</a>
  <a class="home-buttons">Register</a>
</div>

<router-outlet></router-outlet>

<div id = "bottom-block">
<!--  <div>-->
    <span class="headers">Menu</span>
    <span class="headers">Help</span>
    <span class="headers">Vintage shop</span>
    <span class="headers">Social media</span>
<!--  </div>-->
</div>
