<div id="main-block">
  <p>
    <img class="main-photo" src="assets/images/main-photo-4.jpg">
    <img class="main-photo" src="assets/images/main-photo-3.jpg">
    <img class="main-photo" src = 'assets/images/main-photo.jpg'>
  </p>
  <h1 id="h1-1">Spring collection</h1>
  <a routerLink="/products"><p id="p-1">Go To Collection</p></a>
</div>

<div id="about-us-block">
  <h1>About us</h1>
  <p>
    <span class="about-us-points">Free Shipping</span>
    <span class="about-us-points">Support Customers</span>
    <span class="about-us-points">Secure Payments</span>
  </p>

</div>

<div id="new-arrivals-block">
  <h1>New arrivals</h1>
  <div class="card">
    <a routerLink="/products/1">
    <img src="assets/images/clothes/p1.jpg" class="product-img">
    <h1 class="product-title">Hermès Sheer Blouse</h1>
    </a>
    <p class="product-price">$19.99</p>
    <p class="product-description">Some text about the blouse..</p>
    <p><button>Add to Cart</button></p>
  </div>


  <div class="card">
    <a routerLink="/products/2">
    <img src="assets/images/jewelry/p1.jpg" class="product-img">
    <h1 class="product-title">Chanel Gripoix Crystal Chain Necklace</h1>
    </a>
    <p class="product-price">$12.99</p>
    <p class="product-description">Some text about the necklace..</p>
    <p><button>Add to Cart</button></p>
  </div>

  <div class="card">
    <a routerLink="/products/3">
    <img src="assets/images/jewelry/p2.jpg" class="product-img">
    <h1 class="product-title">Chanel Oversized Earrings</h1>
    </a>
    <p class="product-price">$14.99</p>
    <p class="product-description">Some text about the earrings..</p>
    <p><button>Add to Cart</button></p>
  </div>

  <div>
    <a routerLink="/products"><button id="button-more">More...</button></a>
  </div>
</div>

<div id="feedbacks-block">
  <h1>Feedbacks</h1>
</div>


