<div id="body">
  <p id="heading1">My Store</p>
  <img id="background-image" src="https://cdn.mos.cms.futurecdn.net/nrgKnzWePRJkQNXzo66bXM.jpg">
      <button (click)="identifyCategory('electronics')" class="buttons">Electronics</button>
      <button (click)="identifyCategory('fashionProducts')" class="buttons">Fashion Products</button>
      <button (click)="identifyCategory('beautyProducts')" class="buttons">Beauty Products</button>
      <button (click)="identifyCategory('videoGames')" class="buttons">Video Games</button>
      <button (click)="identifyCategory('sportProducts')" class="buttons">Sport Products</button>
<app-product-list [category] = "category"></app-product-list>
</div>
